apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: model-cache
  namespace: archon-model-server
  labels:
    app.kubernetes.io/name: model-cache
    app.kubernetes.io/part-of: archon
    app.kubernetes.io/component: model-server
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 50Gi
  storageClassName: local-path
